@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');

@font-face {
  font-family: FZYiHei-M20T;
  src: url(./assets/FZYiHei-M20T.ttf);
}

body::-webkit-scrollbar {
  display: none;
}

@tailwind base;
@tailwind components;
@tailwind utilities;