@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@300&display=swap');

@font-face {
  font-family: FZYiHei-M20T;
  src: url(./assets/FZYHFW.woff2);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: white;}

p {
  @apply font-normal
}

tr {
  @apply font-normal text-[1.5rem]
}

th {
  @apply font-normal text-[1.5rem]
}